<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-8.0"/>
  <arg name="z_pos" default="0.2"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find model01)/worlds/cafe.world"/>
  </include>

  <param name="robot_description"
    command="$(find xacro)/xacro $(find model01)/urdf/model01.urdf.xacro"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model model01 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/> 
</launch>

